<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info.me</title>
</head>
<style>
.w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>
<body>
    <div class="w3-row">
        <div class="w3-third">
            <div class="w3-container">
                <div class="w3-display-container">
                <img src="http://previews.123rf.com/images/massonforstock/massonforstock1508/massonforstock150800534/44352332-Beautiful-girl-in-plaid-dress-with-camera-and-sunglasses-on-wooden-background--Stock-Photo.jpg" alt="Photo of Me">
                <div class="w3-padding w3-display-middle w3-xxlarge">TRANG DO</div>
            </div>
        </div>
    </div>

    <h3>Information about me</h3>
    <p>Name:TrangDo</p>
    <p>Nickname: Sieudothi</p>
    <p>Age: Secreat</p>
    <p>Job:Student at Hanoi Foreign Trade University</p>
    <p>Hobby: Travel around with boyfriend </p>
</body>
</html>